html, body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

header {
	height: 100px;
}

footer {
	height: 260px;
	background-color: #ffffff;	
}

footer ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}


.fixed-container {
	max-width: 1170px;
	min-width: 320px;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;	
}
	
nav {
	width: 290px;
	position: absolute;
}

	nav ol {
		list-style-type: none;		
		margin: 0;
	}
	
	nav li {
		display: inline-block;		
	}

	.menu-cell a {
		color: black;
		text-decoration: none;
		display: inline-block;		
	}


main .fixed-container {
	overflow-y: hidden;	
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#intro {
	height: 670px;
	background-color: red;
}

#services {
	height: 650px;	
	background-color: green;
}

#portfolio {
	height: 850px;
	background-color: red;
}

#price {
	height: 360px;
	background-color: green;
}