

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
}

header {
	height: 100px;
}

footer {
	height: 260px;
	background-color: #ffffff;	
}

footer ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

h3 {
	font-weight: 700;
	font-size: 45px;
	color: white;
	margin: 85px 110px 45px 110px;
	line-height: 60px;
}

p {
	font-size: 18px;
	color: white;
	margin: 45px 190px 0 110px;
	line-height: 30px;
}


.fixed-container {
	max-width: 1170px;
	min-width: 320px;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;	
}
	
nav {
	width: 320px;
	position: absolute;
	top: 40px;
}

	nav ol {
		list-style-type: none;		
		margin: 0;
		padding: 0;
	}
	
	nav li {
		display: inline-block;
		padding-right: 30px;
	}

	.menu-cell a {
		color: black;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;	
				
	}
.telephone {
	position: absolute;
	right: 255px;
	top: 35px;
	font-size: 25px;	
	font-weight: 700;
	font-style: normal;
}
.call {
	position: absolute;
	right: 20px;
	top: 28px;
	height: 45px;
	width: 206px;
	background: none;
	border: 2px solid #f82370;
	color: #f82370;
	font-size: 16px;	
}

main .fixed-container {
	overflow-y: hidden;	
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#intro {
	height: 670px;
	background-color: red;
}

#services {
	height: 650px;	
	background-color: green;
}

#portfolio {
	height: 850px;
	background-color: red;
}

#price {
	height: 360px;
	background: linear-gradient(20deg, #ff8f5a 35%, #ff2f96 75%);
}